:root {
    --primary: #eeeeee ;
    --secondary: #b1cbfc ;
    --third: #b11111 ;
}

/* Styles for phones */
@media (max-width: 599px) {
    #desktopMenu{
        display: flex;
        font-size: 75%;
        width: 100%;
    }
    .container{
        font-size: 50%;
    }
    .item{
        font-size: 50%;
    }
    p{
        font-size: 12px;
    }

    .gridcontainer {
        grid-template-columns: 20% 20% 20% ;
        grid-template-rows: 200px 200px;
        padding-top: 50px;
    }

    .aboutgrid{
        grid-template-columns: 40% 40%;
        grid-template-rows: 200px 200px 200px;
    }

    #abouttext {
        font-size: 12px;
    }


}

@media (max-width:999px) {

    p {
        font-size: 15px;
    }


    .gridcontainer {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 300px 300px;
        padding-top: 50px;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }

    .aboutgrid{
        grid-template-columns: 35% 35%;
        grid-template-rows: 250px 250px 250px;
    }

    #abouttext {
        font-size: 17px;
    }
    
    .contactgrid {
        grid-template-columns: 200px;
        grid-template-rows: 300px 150px 300px;
    }

    #linkedin{
        scale: 165%;
    }

}

@media (min-width: 1000px) {

    
    p {
        font-size: 20px;
    }


    .gridcontainer {
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px;
        padding-top: 50px;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }

    .aboutgrid{
        grid-template-columns: 500px 500px;
        grid-template-rows: 250px 250px 250px;
    }

    #abouttext {
        font-size: 25px;
    }

    
    .contactgrid {
        grid-template-columns: 230px 420px 250px;
    }
}



/* div{
    border: solid red; 
} */

img{
    max-width: 100%;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Roboto", sans-serif;
}

nav >ul {
    list-style: none;
    display: flex;
    padding: 20px;
    gap: 3rem;
    width: fit-content;
    margin-top: 15px;
    position: fixed;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #7aa8ff;
    font-family: "Roboto", sans-serif;
    border: solid #555;
}

#myButton {
    box-shadow: 3px 3px 5px #555;
    margin: 10px;   
    font-size: 20px;
}

#myButton:hover {
    color: red;
    transition: 0.2s;
}

#hero {
    background-color:var(--primary);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    height: auto;
}

#about {
    background-color: var(--secondary);
    padding-bottom: 100px;
    height: auto;
}

#skills {
    background-color: var(--primary);
    padding-bottom: 100px;
    height: auto;
}

#contact {
    background-color: var(--primary);
    padding-bottom: 100px;
    height: auto;
}

#resume {
    background-color: var(--secondary);
    padding-bottom: 100px;
    height: auto;
}

.body {
    background-color: var(--primary);
    position: relative;
}

.aboutgrid{
    display: grid;
    justify-content: center;
}

.aboutitem {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #eeeeee;
    padding: 20px;
    width: inherit;
}

.gridcontainer {
    display: grid;
    justify-content: center;
}

.griditem {
    text-align: center;
    width: auto;
}

h2 {
    font-size: 35px;
    font-family: "Roboto", sans-serif;
}

.sectionstart {
    height:100px; 
    padding-bottom:40px; 
    padding-top: 30px; 
    text-align:center; 
}

.contactgrid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.contactgriditem {
    width: auto;
    transition: transform 0.3s ease;
}

.contactgriditem:hover {
    transform: scale(120%);
}

.linuxpic{
    border: 0px;
}

.herocontainer{
    display: grid; 
    grid-template-columns: 300px , 300px;
    grid-template-rows: 400px;
    justify-content: center;
    padding-top: 10px;
}

.heroitem {
    width: 350px;
}

.footer{
    text-align: center;
    justify-content: center;
}